# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
docs/
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
generated
prisma/dev.db
prisma/dev.db-journal
